@{
    ViewBag.Title = "Shopogolick - Доставка";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<br /><br /><br />
    <div style="margin: 3% 20% 0px 20%;">
        <h2>Доставка</h2>
        <p style="font-size:18px;">Доставка осущестляется почтой России</p>

        <br /><br /><br />

        <h2>Возврат</h2>
        <p style="font-size:18px;">
            Если вы хотите вернуть товар, приобретенный на Shopogolick, вы можете сделать это бесплатно в течение 30 дней с момента отправки вашего заказа.
            Товары должны быть в идеальном состоянии, все этикетки должны быть на своих местах.
        </p>

        <br /><br /><br />

        <h2>Таблица размеров</h2>
        <table class="table table-bordered">
            <tr>
                <th>Российский</th>
                <th>Международный</th>
                <th>Обхват груди, см.</th>
                <th>Обхват талии, см.</th>
                <th>Обхват бедер, см.</th>
            </tr>
            <tr>
                <td>40 - 42</td>
                <td>XS</td>
                <td>83 - 86</td>
                <td>71 - 74</td>
                <td>82 - 85</td>
            </tr>
            <tr>
                <td>44 - 46</td>
                <td>S</td>
                <td>89 - 92</td>
                <td>77 - 80</td>
                <td>88 - 91</td>
            </tr>
            <tr>
                <td>48 - 50</td>
                <td>M</td>
                <td>96 - 100</td>
                <td>84 - 88</td>
                <td>95 - 99</td>
            </tr>
            <tr>
                <td>52 - 54</td>
                <td>L</td>
                <td>104 - 108</td>
                <td>92 - 96</td>
                <td>103 - 107</td>
            </tr>
            <tr>
                <td>56 - 58</td>
                <td>XL</td>
                <td>113 - 118</td>
                <td>101 - 106</td>
                <td>111.5 - 116</td>
            </tr>
            <tr>
                <td>60 - 62</td>
                <td>XXL</td>
                <td>124 - 130</td>
                <td>112.5 - 119</td>
                <td>120.5 - 125</td>
            </tr>

        </table>
    </div>
    <br /><br /><br />
    
        



